@charset "utf-8";

.bg-red {
	background-color: $red500;
}

.bg-blue {
	background-color: $blue500;
}

.bg-yellow {
	background-color: $yellow500;
}

.bg-green {
	background-color: $green500;
}

.bg-orange {
	background-color: $orange500;
}

.bg-gray {
	background-color: $gray500;
}

.bg-white {
	background-color: $white;
}

.bg-black {
	background-color: $gray900;
}

.red {
	color: $red500;
}

.blue {
	color: $blue500;
}

.yellow {
	color: $yellow500;
}

.green {
	color: $green500;
}

.orange {
	color: $orange500;
}

.gray {
	color: $gray500;
}

.white {
	color: $white;
}

.black {
	color: $gray900;
}