@charset "UTF-8";

@import "gray";

/*
50#FFEBEE
100#FFCDD2
200#EF9A9A
300#E57373
400#EF5350
500#F44336
600#E53935
700#D32F2F
800#C62828
900#B71C1C
A100#FF8A80
A200#FF5252
A400#FF1744
A700#D50000
*/
$main50: #FFEBEE;
$main100: #FFCDD2;
$main200: #EF9A9A;
$main300: #E57373;
$main400: #EF5350;
$main500: #F44336;
$main600: #E53935;
$main700: #D32F2F;
$main800: #C62828;
$main900: #B71C1C;
$mainA100: #FF8A80;
$mainA200: #FF5252;
$mainA400: #FF1744;
$mainA700: #D50000;